<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Budget Simplified</title>

    <!-- css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <!-- header -->
    <header id="site-header">
      <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a href="/" class="navbar-brand">Budget Simplified</a>
          </div>
        </div>
      </nav>
    </header>
    <!-- main section -->
    <main id="site-main">
      <div class="container">
        <%- body %>
      </div>
    </main>
    <!-- footer -->
    <footer id="site-footer">
      Copyleft &copy; 2016 Budget Simplified
    </footer>
  </body>
</html>
