body {
  font-size: 16px;
  line-height: 1.5;
}
/* header */
#site-header .navbar {
  border-radius: 0;
  border: none;
  margin: 0;
}
/*main section*/
#site-main {
  padding-top: 3em;
  padding-bottom: 3em;
}
/*footer*/
#site-footer {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size: 12px;
  background-color: #222;
  color: #999;
}
